.board-tile {
  height: 100px;
  width: 100px;
  background-color: #C39753;
  background-image: url('../../images/terrains/terrain1.png');
  border: none;
}

button:focus {
  outline:0;
}

img {
  width: 60px;
  height: 60px;
}
